<ion-view title="Details" id="page9" >

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="myGoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
      Буцах</button>
    </ion-nav-buttons>
      <!-- <ion-nav-buttons side="right">
          <button class="button button-clear button-positive" ng-click="reset()">
              Refresh
          </button>
      </ion-nav-buttons> -->
  </ion-nav-bar>
         
  <ion-content padding="true" class="has-header" style="background: url(img/tsbXSwVTSGSyL6GuXB9O_kalen-emsley-100238.jpg) no-repeat center;background-size:cover;">

  <div class="row">
    <div class="col col-33 col-offset-33 btn-center">
        <h3 style="color: white">U-Decide</h3>
    </div>
  </div>

  <div class="row">
      <div class="col col-100 btn-center">
          <button class="button button-stable">
            SIGN IN WITH GOOGLE
           </button>
      </div>
  </div>

  <div class="row">
      <div class="col col-100 btn-center">
          <button class="button button-positive">
            SIGN IN WITH FACEBOOK
           </button>
      </div>
  </div>

  <div class="row">
      <div class="col col-100 btn-center">
          <button class="button button-calm">
            SIGN IN WITH TWITTER
           </button>
      </div>
  </div>

  <div class="row">
        <div class="col col-100 btn-center auth-button">
            <button ui-sref="login()" class="button button-light">
                Login
            </button>
            <button ui-sref="signup()" class="button button-light">
                Register
            </button>
        </div>
  </div>
  </ion-content>
</ion-view>