<ion-view title="Search" id="page4">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">

      <ion-nav-buttons>
      <search-bar ng-model="search"></search-bar>
          </ion-nav-buttons>
      </ion-nav-bar>
      <ion-content class="has-header">
        
      <div class="row">
        <div class="col col-33">
             <div class="item item-body">
                  <img class="full-image" src="delorean.jpg">
                  <p>THE BLUE SKY HOTEL AND TOWER</p>
                  <div class="product_details">
                    <div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col col-33">
            <div class="item item-body">
                  <img class="full-image" src="delorean.jpg">
                  <p>THE BLUE SKY HOTEL AND TOWER</p>
                  <div class="product_details">
                    <div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col col-33">
          <div class="item item-body">
                  <img class="full-image" src="delorean.jpg">
                  <p>THE BLUE SKY HOTEL AND TOWER</p>
                  <div class="product_details">
                    <div>
                  </div>
                </div>
            </div>
        </div>
      </div>

      </ion-content>
</ion-view>