<ion-view title="Dashboard" id="userDashboard">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="myGoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
      Буцах</button>
    </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <!-- <button class="button button-clear" ng-click="myGoBack()" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          </button> -->
      </ion-nav-buttons>  
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    
      <div class="card">
        <div class="item" style="padding:0px">
            <div class="row">
                <div class="col col-30">
                    <img class="img-circle" ng-src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" height="80px;">
                </div>
                <div class="col col-70">John Doe</div>
            </div>
        </div>
      </div>



  </ion-content>
</ion-view>